[
Class(
    name: "Paladin",
    subclasses:[
        SubClass(
            name: "Oath of Glory",
            features:{
                3:{
                    "Oath Spells":
                        "You gain oath spells at the paladin levels listed.\n\n3rd - guiding bolt, heroism\n5th - enhance ability, magic weapon\n9th - haste, protection from energy\n13th - compulsion, freedom of movement\n17th - commune, flame strike",
                    ".spell": "Guiding Bolt",
                    ".spell": "Heroism",
                    "Channel Divinity: Peerless Athlete":
                        "As a bonus action, you can use your Channel Divinity to augment your athleticism. For the next 10 minutes, you have advantage on Strength (Athletics) and Dexterity (Acrobatics) checks; you can carry, push, drag, and lift twice as much weight as normal; and the distance of your long and high jumps increases by 10 feet (this extra distance costs movement as normal).",
                    "Channel Divinity: Inspiring Smite":
                        "Immediately after you deal damage to a creature with your Divine Smite feature, you can use your Channel Divinity as a bonus action and distribute temporary hit points to creatures of your choice within 30 feet of you, which can include you. The total number of temporary hit points equals 2d8 + your level in this class, divided among the chosen creatures however you like.",
                },
                5:{
                    ".spell": "Enhance Ability",
                    ".spell": "Magic Weapon",
                },
                7:{
                    "Aura of Alacritty":
                        "At 7th level, you emanate an aura that fills you and your companions with supernatural speed, allowing you to race across a battlefield in formation. Your walking speed increases by 10 feet. In addition, if you aren't incapacitated, the walking speed of any ally who starts their turn within 5 feet of you increases by 10 feet until the end of that turn.\n\nWhen you reach 18th level in this class, the range of the aura increases to 10 feet.",
                },
                9:{
                    ".spell": "Haste",
                    ".spell": "Protection From Energy",
                },
                13:{
                    ".spell": "Compulsion",
                    ".spell": "Freedom of Movement",
                },
                15:{
                    "Glorious Defence":
                        "When you reach 15th level, you can turn defense into a sudden strike. When you or another creature you can see within 10 feet of you is hit by an attack roll, you can use your reaction to grant a bonus to the target's AC against that attack, potentially causing it to miss. The bonus equals your Charisma modifier (minimum of +l). If the attack misses, you can make one weapon attack against the attacker as part of this reaction, provided the attacker is within your weapon's range.\n\nYou can use this feature a number of times equal to your Charisma modifier (minimum of once), and you regain all expended uses when you finish a long rest.",
                },
                17:{
                    ".spell": "Commune",
                    ".spell": "Flame Strike",
                },
                20:{
                    "Living Legent":
                        "At 20th level, you can empower yourself with the legends — whether true or exaggerated — of your great deeds. As a bonus action, you gain the following benefits for 1 minute:\n\t• You are blessed with an otherworldly presence, gaining advantage on all Charisma checks.\n\t• Once on each of your turns when you make a weapon attack and miss, you can cause that attack to hit instead.\n\t• If you fail a saving throw, you can use your reaction to reroll it. You must use this new roll.\n\nOnce you use this feature, you can’t use it again until you finish a long rest, unless you expend a 5th-level spell slot to use it again.",
                },
            },
            description: "Paladins who take the Oath of Glory believe they and their companions are destined to achieve glory through deeds of heroism. They train diligently and encourage their companions so they're all ready when destiny calls.",
        ),
    ],
),
]